* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display:block;
    margin:auto;
}

#title {
    margin:auto;
    top: 200px;
    text-align: center;
}

#gameboard {
    display:grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    align-items: center;
    justify-content: center;
}

.gamecell {
    border: 2px solid black;
    height:200px;
    width: 200px;
    display:flex;
    align-items:center;
    justify-content: center;
}

#main-screen {
    display:flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 150px;
    height: 150px;
}